.list {
   position: fixed;
   bottom: 0;
   left: 0;

   width: 100%;
   margin: 1rem 0 0 0;
   padding: 1rem 0;

   display: flex;
   align-items: center;
   justify-content: space-around;
   gap: 1rem;

   list-style: none;
   font-size: 1.4rem;
   background-color: rgba(17, 17, 17, 0.45);
   backdrop-filter: blur(4px);
}

li a {
   text-decoration: none;
   font-weight: bold;
   color: white;

   &:hover {
      filter: saturate(1.5);
   }
}

li {
   transition: transform 0.2s ease;
}

li:hover {
   transform: scale(1.03);
}
