*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

:root {
   --button: #dac4f7;
   --prime-bg: #00a8e8;
   --sec-bg: #003459;
   --button-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   --section-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px,
      rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px,
      rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
   --card-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   --button-hover-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
body {
   font-family: 'Lexend', sans-serif;
   width: 100vw;
   height: 100vh;
   background: linear-gradient(90deg, #167a90 0%, #3a47d5 100%);
}

.page {
   max-width: 1600px;
   margin-inline: auto;
   padding: 0 1rem;
   color: white;
   font-weight: bold;
   form {
      padding: 1rem;
      .header {
         font-size: 2rem;
         text-align: center;
         margin-block: 1.5rem;

         font-weight: bold;
      }
   }
}

button {
   cursor: pointer;
   height: 3rem;
   border: none;
   border-radius: 1rem;
   padding: 1rem;
   font-weight: bold;
   font-size: 1rem;
   box-shadow: var(--button-shadow);
}

button:disabled {
   cursor: not-allowed;
}

button:hover {
   box-shadow: var(--button-hover-shadow);
}

input {
   height: 3rem;
   border: none;
   border-radius: 1rem;
   padding: 1rem;
   color: #00171f;
   font-weight: bold;
   font-size: 1rem;
}

input:focus {
   outline: none;
}

section,
form {
   padding: 1rem;
   border-radius: 1rem;
   margin: 1rem 0;
}
