.weatherCard {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   align-items: flex-start;
   padding: 1rem 0 1rem 0;
   color: black;
   font-weight: bold;
   font-size: 1.4rem;
   padding: 0.8rem;
   margin: 0.5rem;

   min-width: 400px;
   border-radius: 1rem;
   box-shadow: var(--card-shadow);
}
