.weatherCard {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   align-items: center;
   justify-content: center;
   padding: 1rem 0 1rem 0;
   color: rgb(255, 255, 255);
   font-weight: bold;
   font-size: 1.5rem;
   border-radius: 1rem;

   button {
      display: flex;
      justify-content: center;
      align-items: center;
   }
}
