.header {
   background-color: var(--prime-bg);
   padding: 1rem;
}

.list {
   display: flex;
   align-items: center;
   gap: 1rem;
   list-style: none;
   font-size: 1.4rem;
}

.list li:first-child {
   margin-right: auto;
}

.link a {
   color: black;
   text-decoration: none;
   font-weight: bold;
}

.link {
   transition: transform 0.2s ease;
}

.link:hover {
   transform: scale(1.03);
}
