.header {
   padding: 1rem 1rem 0 1rem;
}

.list {
   display: flex;
   align-items: center;
   gap: 1rem;
   list-style: none;
   font-size: 1.4rem;
}

.list li:first-child {
   margin-right: auto;
}

.link a {
   text-decoration: none;
   color: rgb(255, 255, 255);
   -webkit-text-stroke: 0.6px black;
   font-size: 1.7rem;
   font-weight: bold;
   .logo {
      font-size: 2.5rem;
   }
}

.link {
   transition: transform 0.2s ease;
}

.link:hover {
   transform: scale(1.03);
}
