.homeImage {
   width: 40%;
   height: auto;
   margin: 0 auto;
}
.container {
   display: flex;
   flex-direction: column;
   height: 90vh;
}
.temp {
   -webkit-text-stroke: 1px black;
   padding: 1rem 0;
   display: flex;
   gap: 0.1rem;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: 2rem;

   .symbol {
      font-size: 5rem;
   }
}
.today {
   -webkit-text-stroke: 0.6px black;
   display: flex;
   justify-content: space-evenly;
   width: 100%;
   padding: 3.5rem 0 0.5rem 0;
   border-bottom: 1px solid white;
   font-size: 1.3rem;
}
.fiveDays {
   padding: 1rem 1rem 0 1rem;
   -webkit-text-stroke: 0.5px black;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   gap: 13px;
   .day {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      .firstRow {
         font-size: 0.9rem;
      }
      .secRow {
         font-size: 1.5rem;
      }
      font-size: 1.1rem;
   }
}
