.container {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   padding: 1rem 0 1rem 0;
   color: rgb(255, 255, 255);
   font-weight: bold;
   font-size: 1.4rem;
   padding: 0.8rem;
   margin: 0.5rem;
   min-width: 150px;
   border-radius: 1rem;
   box-shadow: var(--card-shadow);
}
