form {
   padding: 1rem;
   .header {
      font-size: 2rem;
      text-align: center;
      margin-block: 1.5rem;
      font-weight: bold;
   }
}

section {
   display: flex;
   justify-content: center;
   align-items: center;
}

.search {
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   justify-content: center;
}

.favorites {
   margin: 0 auto;
   display: grid;
   gap: 1rem;
   margin: 1rem 0;
}

section > h2 {
   text-align: center;
   padding: 1rem 0 1rem 0;
}

@media (min-width: 600px) {
   .favorites {
      grid-template-columns: repeat(2, 1fr);
   }
}
@media (min-width: 900px) {
   .favorites {
      grid-template-columns: repeat(3, 1fr);
   }
}
@media (min-width: 1200px) {
   .favorites {
      grid-template-columns: repeat(4, 1fr);
   }
}
@media (min-width: 1300px) {
   .favorites {
      grid-template-columns: repeat(5, 1fr);
   }
}
