.page {
   max-width: 1600px;
   margin-inline: auto;
   padding: 0 1rem;

   form {
      background-color: var(--sec-bg);
      padding: 1rem;
      .header {
         font-size: 2rem;
         text-align: center;
         margin-block: 1.5rem;
         color: white;
         font-weight: bold;
      }
   }
}

.search {
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   justify-content: center;
}

.weatherResult {
   margin: 0.3rem 0;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   padding: 2rem 1rem;

   background-color: var(--sec-bg);

   button {
      min-width: 400px;
      background-color: var(--button);
   }
}

.favorites {
   margin: 0 auto;
   display: grid;
   gap: 1rem;
}

section > h1 {
   text-align: center;
   padding: 1rem 0 1rem 0;
}

@media (min-width: 600px) {
   .favorites {
      grid-template-columns: repeat(2, 1fr);
   }
}
@media (min-width: 900px) {
   .favorites {
      grid-template-columns: repeat(3, 1fr);
   }
}
@media (min-width: 1200px) {
   .favorites {
      grid-template-columns: repeat(4, 1fr);
   }
}
@media (min-width: 1300px) {
   .favorites {
      grid-template-columns: repeat(5, 1fr);
   }
}
